<div class="grid p-fluid">
    <div class="col-12">
        <div class="card card-w-title">
            <h5>Sleeper Fix</h5>
        </div>
    <p-tabView orientation="left">
        <p-tabPanel header="Header I" class="line-height-3 m-0">
        </p-tabPanel>
        <p-tabPanel header="Corrected Lineups" class="line-height-3 m-0">
            
            <div class="grid">
            <div class="col-12">
                <div class="card card-w-title">
                    <h5>Corrected Potential Points</h5>
                    <b>Affected Lineups</b>
                    <ul>
                        <li *ngFor="let lineup of affectedLineups">{{lineup}}</li>
                    </ul>
                    <div class="grid">
                        <div class="col-12 md:col-3">
                            <p-dropdown [options]="teamdropdownoptions" [(ngModel)]="selectedroster"
                                placholder="Select a Roster"></p-dropdown>
                        </div>
                        <div class="col-12 md:col-2">
                            <p-dropdown [options]="weeks" [(ngModel)]="selectedweek"
                                placholder="Select a Week"></p-dropdown>
                        </div>
                        <div class="col-12 md:col-2">
                            <button pButton type="button" label="View Lineup" (click)="update()"></button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6">
                <div class="card">
                    <h5>Corrected Optimal Lineup</h5>
                    <p-table #dtcorrected [value]="correctedlineup" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>Points</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-lineup>
                            <tr [ngClass]="{'p-highlight': lineup.isDifferent}">
                                <td>{{lineup.used_position}}</td>
                                <td>{{lineup.player_name}}</td>
                                <td>{{lineup.points}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td>{{correctedtotal}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-12 lg:col-6">
                <div class="card">
                    <h5>Sleeper Optimal Lineup</h5>
                    <p-table #dtoriginal [value]="originallineup" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>Points</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-lineup>
                            <tr [ngClass]="{'p-highlight': lineup.isDifferent}">
                                <td>{{lineup.used_position}}</td>
                                <td>{{lineup.player_name}}</td>
                                <td>{{lineup.points}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td>Total</td>
                                <td></td>
                                <td>{{originaltotal}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        </p-tabPanel>
    </p-tabView>
    </div>
</div>